:root {
    --left-padding: 30px;
    --right-padding: 60px;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    display: flex;
}
.side-panel {
    background-image: url(./michael-unsplash.jpg);
    background-size: cover;
    background-position-x: 75%;
    background-repeat: no-repeat;
    flex: 1;
}
@font-face {
    font-family: Norse-Bold;
    src: url(./Norse-Bold.otf);
}
.side-panel > div {
    margin-top: 135px;
    text-align: center;
}
.side-panel > div > p {
    font-family: Norse-Bold;
    font-size: 6rem;
    letter-spacing: 0.75rem;
}
.side-panel > div + div {
    margin-top: 20px;
    opacity: 50%;
}
.side-panel > div > img {
    width: 100%;
    height: 250px;
}
.main-panel {
    background-color: hsl(209, 49%, 16%);
    flex: 2;
    display: flex;
    flex-direction: column;
}
.header-section {
    padding-top: 100px;
    padding-left: var(--left-padding);
    padding-right: var(--right-padding);
    flex: 1;
}
p {
    font-family: 'Courier New', Courier, monospace, sans-serif;
    color: white;
    font-weight: bold;
}
.header-section > p {
    font-size: 1.25rem;
    margin-bottom: 50px;
}
.header-section > :last-child {
    font-size: 1rem;
}
.form-section {
    padding-top: 10px;
    padding-left: var(--left-padding);
    box-shadow: 0px 10px 15px hsl(207, 52%, 8%);
    background-color: hsl(210, 50%, 32%);
    flex: 1;
}
.form-section > p {
    font-size: 1rem;
}
form > div {
    margin-top: 20px;
    margin-bottom: 25px;
    width: 40vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    row-gap: 15px;
    column-gap: 90px;
}
.first-name, .last-name,
.email, .phone,
.pass, .confirm-pass 
{
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 4px;
}
label {
    padding-left: 2px;
    color: white;
    font-size: 0.70rem;
    font-family: Arial, Helvetica, sans-serif;
}
input {
    background-color: hsl(209, 49%, 16%);
    color: white;
    width: 200px;
    height: 25px;
    font-size: 1rem;
    padding: 10px;
    border: 1px solid hsl(207, 52%, 8%);
    border-radius: 4px;
}
input:focus {
    outline: 2px solid hsl(0, 62%, 77%);
    box-shadow: 0px 10px 10px hsl(211, 51%, 18%);
}
.submit-section {
    padding-top: 30px;
    padding-left: var(--left-padding);
    padding-bottom: 100px;
    flex: 1;
}
.submit-section > button {
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 1rem;
    background-color: green;
    padding: 10px;
    width: 200px;
}
.submit-section > button:hover {
    background-color: hsl(120, 100%, 30%);
}
.submit-section > button:active {
    box-shadow: -3px -3px 5px inset hsl(120, 100%, 20%);
    background-color: hsl(120, 100%, 25%);
}
.submit-section > p {
    margin-top: 20px;
    font-size: 0.75rem;
}
.submit-section > p > a {
    text-decoration: none;
    color: greenyellow;
}